:root {
  --color-pri-lighter: #ffccef;
  --color-pri-light: #ffccef;
  --color-pri-base: #e10098;
  --color-pri-dark: #990069;
  --color-pri-darker: #660046;

  --color-sec-lighter: #edfad1;
  --color-sec-light: #dbf6a2;
  --color-sec-base: #c3f654;
  --color-sec-dark: #83bd02;
  --color-sec-darker: #507501;

  --color-neu-0: #ffffff;
  --color-neu-50: #fafcf4;
  --color-neu-100: #f3f4f0;
  --color-neu-200: #e7e9e2;
  --color-neu-300: #dbded3;
  --color-neu-400: #cfd3c5;
  --color-neu-500: #b8bda8;
  --color-neu-600: #a0a88a;
  --color-neu-700: #6d7557;
  --color-neu-800: #363a2c;
  --color-neu-900: #0e0f0b;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neu-900: #ffffff;
    --color-neu-800: #fafcf4;
    --color-neu-700: #f3f4f0;
    --color-neu-600: #e7e9e2;
    --color-neu-500: #dbded3;
    --color-neu-400: #cfd3c5;
    --color-neu-300: #b8bda8;
    --color-neu-200: #a0a88a;
    --color-neu-100: #6d7557;
    --color-neu-50: #363a2c;
    --color-neu-0: #0e0f0b;
  }
}
